app = 'realtime-message-gateway'
primary_region = 'hkg'

[build]

[env]
  WEBSOCKET_PORT = "8000"
  HTTP_PORT = "3000"
  METRICS_PORT = "2112"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = "tcp"
  internal_port = 8000

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.ports]]
    port = 80
    handlers = ["http"]

  [[services.http_checks]]
    interval = 10000
    grace_period = "10s"
    method = "get"
    path = "/health"
    protocol = "http"
    timeout = 2000
    port = 3000

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
